<!-- start custom head snippets -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->

{% if page.use_math %}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    TeX: {
      equationNumbers: {
        autoNumber: "AMS"
      }
    },
    tex2jax: {
      inlineMath: [],
      displayMath: [],
      processEscapes: false,
    }
  });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML' async></script>

{% endif %}

<!-- end custom head snippets -->
