---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


// font size
html {
  font-size: 16px; // change from 16

  @include breakpoint($medium) {
    font-size: 14px; // change from 18
  }

  @include breakpoint($large) {
    font-size: 16px; // change from 20
  }

  @include breakpoint($x-large) {
    font-size: 18px; // change from 22
  }
}

// line height
.page__content {
    @include breakpoint($large) {
      line-height: 1.66em;
    }

    @include breakpoint($x-large) {
      line-height: 1.66em;
    }
}

.page__title {
    line-height: normal;
}

// horizontal rule
.page__content hr{
    border-top: 3px solid #e2e3e3;
}


// left sidebar (author profile)
.sidebar {
  font-size: 14px; // change from 16

  @include breakpoint($medium) {
    font-size: 16px; // change from 18
  }

  @include breakpoint($large) {
    font-size: 18px; // change from 20
  }

  @include breakpoint($x-large) {
    font-size: 20px; // change from 22
  }
}

// pad heading and sidebar
#site-nav, .sidebar {
  @include breakpoint($large) {
    padding-left: 20px;
  }
}

// adjust left/right sidebar and page position on x-large
.sidebar{
  @include breakpoint($x-large) {
    width: calc(#{$right-sidebar-width} + 30px - 1em);
  }
}

.page, .archive {
  @include breakpoint($x-large) {
    width: calc(100% - #{$right-sidebar-width} - 30px);
  }
}
