/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  border-collapse: collapse;

  & + table {
    margin-top: 1em;
  }
}

thead {
  background-color: $border-color;
}

th {
  font-weight: bold;
  text-align: center;
}

tr,
td,
th {
  vertical-align: middle;
}

table th,
table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
